.vs/
.vscode/

loginportal.client/.vscode/
loginportal.client/node_modules/

bin/
obj/

loginportal.client/.env.production
loginportal.client/.env.development

loginportal.client/localhost+2.pem
loginportal.client/localhost+2-key.pem

ScaffoldingReadMe.txt

*.user
*.userosscache
*.suo
*.sln.docstates

*.tmp