.vs/
.vscode/

loginportal.client/.vscode/
loginportal.client/node_modules/

bin/
obj/

loginportal.client/.env.development
loginportal.client/.env.production

ScaffoldingReadMe.txt

*.user
*.userosscache
*.suo
*.sln.docstates

*.tmp